/*
COLORS

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-dark: #BA265D;
  --color-primary-light: #FF3366;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  color: var(--color-grey-dark-2);
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark)); }

.container {
  margin: 8rem auto;
  max-width: 120rem;
  box-shadow: var(--shadow-dark);
  background-color: var(--color-grey-light-2);
  min-height: 50rem; }

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  align-items: center;
  justify-content: space-between; }

.content {
  display: flex; }

.sidebar {
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-grey-dark-1); }

.hotel-view {
  flex: 1;
  background-color: #fff;
  height: 80rem; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    width: 90%;
    border: none;
    color: inherit;
    font-size: inherit;
    padding: .7rem 2rem;
    transition: all .2s;
    border-radius: 100px;
    font-family: inherit;
    margin-right: -2.5rem;
    background-color: var(--color-grey-light-2); }
    .search__input:focus {
      width: 100%;
      outline: none;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-dark-2); }

.user-nav {
  display: flex;
  align-items: stretch;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    color: #fff;
    width: 1.75rem;
    height: 1.75rem;
    font-size: .8rem;
    font-weight: 600;
    border-radius: 50%;
    background-color: var(--color-primary);
    top: 1.5rem;
    right: 1.1rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    margin-right: 1rem;
    border-radius: 50%; }

.side-nav {
  list-style: none;
  font-size: 1.4rem;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-nav__item:before {
    top: 0;
    left: 0;
    width: 3px;
    content: "";
    height: 100%;
    position: absolute;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
    background-color: var(--color-primary); }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    width: 100%;
    transform: scaleY(1); }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    z-index: 10;
    display: flex;
    position: relative;
    align-items: center;
    padding: 1.5rem 3rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey-light-1); }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

.legal {
  padding: 2.5rem;
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-grey-light-4); }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2); }
  .overview__heading {
    font-weight: 300;
    font-size: 2.25rem;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
    text-transform: uppercase; }
  .overview__stars {
    display: flex;
    margin-right: auto; }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview__location {
    display: flex;
    font-size: 1.2rem;
    align-items: center; }
  .overview__icon-location {
    margin-right: .5rem; }
  .overview__rating {
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; }
  .overview__rating-average {
    font-weight: 300;
    font-size: 2.25rem;
    margin-bottom: -3px; }
  .overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase; }

.btn-inline {
  border: none;
  cursor: pointer;
  font-size: inherit;
  padding-bottom: 2px;
  transition: all .2s;
  display: inline-block;
  color: var(--color-primary);
  background-color: transparent;
  border-bottom: 1px solid currentColor; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    box-shadow: none;
    transition: scale(1); }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    box-shadow: none;
    transition: scale(1); } }
