.footer {
  padding: 8rem;
  background-color: $color-secondary;
  grid-column: full-start / full-end;
}

.nav {
  list-style: none;

  display: grid;
  grid-gap: 2rem;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  &__link:link,
  &__link:visited {
    color: #fff;
    display: block;
    padding: 1.5rem;
    font-size: 1.4rem;
    text-align: center;
    transition: all .2s;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-display;
  }
  
  &__link:hover,
  &__link:active {
    transform: translateY(-3px);
    background-color: rgba(#fff, .05);
  }
}

.copyright {
  width: 100%;
  font-size: 1.4rem;
  text-align: center;
  margin: 6rem auto 0;
  color: $color-grey-light-2;
}