@mixin clearFix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin centerHorizontalVertical {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}